
html{
    background-color: #008BF8;
}

body{
    font-family: 'Merriweather', serif;
    background-color: rgba(255, 255, 255, 0.781);
    width: 90%;
    margin:0 5%;
    box-shadow:0px 0px 20px 10px rgb(255, 255, 255)  ;
}

h2{
    padding: 1%;
}

.card-title1{
    color:#4b5bab;
    
}

.card-title2{
    color: #207234;
}

.card-title3{
    color: #b54158;
}

.tarjetas{
    display: flex;
    justify-content: space-around;
}

.footer{
    display: flex;
    justify-content: space-between;
}
.Footerlogo{
    padding-right: 10%;
}
.Footerdire{
    padding-left: 1%;
}
.footerimg{
    display: flex;
   flex-direction: row;
   padding-right: 10%;
}
.imgfooter{
    height: 20px;
    display: inline;
    margin: 0 20%;
}
