nav{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
.jugador{
    display: flex;
    flex-direction: row-reverse;
    background-color: darkcyan;
    border: none;
    border-radius: 15px;
    width:80%;
    text-align: center;
    margin: 20px;
    padding: 1%;
    box-shadow: 5px 5px 15px grey;
    align-items: center;
    margin: auto;
}
.titulo{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: rgb(0, 99, 186);
    text-align: center;
}


.partido{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(203, 16, 81);
    border-radius: 15px;
    width:80%;
    text-align: center;
    margin: 20px;
    padding: 1%;
    justify-content: space-around;
    margin: auto;
}
.fotoequipo{
    align-items: flex-start;
}

.cambiodepagina{
    background-color: rgb(255, 221, 0);
    border-radius: 0%;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: black;
}
.divnav:hover{
    background-color: rgb(104, 142, 247);
}

footer{
    background-color: rgb(255, 221, 0);
    padding: 0.1cm;
    text-align: center;
}

.pie-de-pagina{
    font-style: italic;
}