html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('back.jpg');
    background-size: 100%;
}

body {
    padding: 1%;
}

h1 {
    text-align: center;
}

.links {
    display: flex;
    justify-content: space-around;
}

a:hover {
    transform: scale(1.3);
}

a, a:visited {
    color: darkblue;
}

.card {
    width: 25%;
    border-radius: 15px;
    box-shadow: 5px 5px 15px;
    padding: 2%;
    margin-top: 1%;
    text-align: center;
    font-size: 1.5em;
}

.card:hover {
    transform: scale(1.2);
}