html{
    background-color: rgb(231, 228, 228);
}
body{
    width: 75% ;
    margin: auto ;
    padding: 1%;;
    background-color: rgb(255, 255, 255);
}
.portada{
    width: 100%;
}
h1{
    color: #070707;
    background-color: #086b15;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 img{
    float: left;
}
.intolerante.intro{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
    color: black;
}
nav{
    display: flex;
    background-color: rgb(127, 230, 152);
    color: black;
    margin: auto;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    height: 30px;}


.receta1{
    background-color: rgba(146, 146, 146, 0.219);
}
.receta1 h4, legend{ 
    font-weight: bold;
}
.container{
    display: flex;
    justify-content: right;
}
