html {
    background-color:#84bfc3;
}
body {
font-family: Arial, sans-serif;
background-color:#fff5d6;
width: 85%;
margin: auto;
padding: 3%;
}
.form-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
}
.columna {
    flex: 1;
    margin: 0 10px;
    border: 1px; color: black;
}
.campo {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

a {
    color: #000511;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.RyL {
    display: flex;
    justify-content: center;
}

.botonesH {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 80%;
    background-color: #ffb870;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

table {
    width: 50%;
    margin: auto;
}

h1 {
   background-color: #02060f;
   color: #84bfc3;
   border-radius: 5px;
   padding: 2%;

}
.dropdown {
    background-color: #ffb870;
}
.textinput {
    background-color: #ffb870;
    
}
.imagen {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}